@model List<Contact>

@{
}

<h2 class="text-center mb-5">List of Contacts</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Contacts" asp-action="Create">New Contact</a>
    </div>
    <div class="col">

    </div>
</div>
